@import url("https://fonts.googleapis.com/css2?family=Jaro&display=swap");
@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e0a758;
}

#root {
  font-family: Jaro, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-scrollbar {
  scrollbar-color: black #ff8904;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.my-text-shadow {
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    1px 1px black,
    -1px -1px black,
    1px -1px black,
    -1px 1px black;
}
